<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="entries.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let entry of entries">
    <mat-expansion-panel-header>
      {{ entry.title }}
    </mat-expansion-panel-header>
    <div class="entry-image">
      <img 
        [src]="entry.imagePath || 'assets/images/no-image.png'" 
        [alt]="entry.title || 'No image'"
        class="preview-img">
    </div>
    <p>{{ entry.content }}</p>
      <mat-action-row>
        <a mat-button color="primary" class="glitch-hover" [routerLink]="['/edit', entry.id]" data-text="EDIT">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(entry.id)">DELETE</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalEntries" [pageSize]="entryPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="entries.length > 0"></mat-paginator>
<p class="info text space-text" *ngIf="entries.length <= 0 && !isLoading">No entries have been added.</p>