<mat-accordion multi="true" *ngIf="entries.length > 0">
  <mat-expansion-panel *ngFor="let entry of entries">
    <mat-expansion-panel-header>
      {{ entry.title }}
    </mat-expansion-panel-header>
    <p>{{ entry.content }}</p>
      <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info text space-text" *ngIf="entries.length <= 0">No entries have been added.</p>