ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.active-link {
  color: #00e5ffff;
  text-shadow: 0 0 8px rgba(0, 229, 255, 0.6);
}