<mat-toolbar color="primary">
    <span>
        <a routerLink="/" class="glitch-hover" data-text="Time and Space - A Personal Journey">Time and Space - A Personal Journey</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button class="glitch-hover" routerLink="/create" routerLinkActive="active-link" data-text="New Entry">New Entry</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button class="glitch-hover" routerLink="/login" routerLinkActive="active-link" data-text="Login">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button class="glitch-hover" routerLink="/signup" routerLinkActive="active-link" data-text="Signup">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button color="warn" (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>