<mat-card>
  <form (submit)="onAddEntry(entryForm)" #entryForm="ngForm">
  <mat-form-field>
    <input 
      matInput 
      type="text"
      name="title"
      ngModel
      required
      minlength="3"
      placeholder="Entry Title"
      #title="ngModel">
    <mat-error *ngIf="title.invalid">Please create an entry title</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea 
      matInput 
      rows="4"
      name="content" 
      ngModel
      required
      placeholder="Entry Content"
      #content="ngModel"></textarea>
    <mat-error *ngIf="content.invalid">Please create an entry</mat-error>
  </mat-form-field>
  <button 
    mat-raised-button 
    color="accent"
    type="submit">Save Entry</button>
  </form>
</mat-card>